body {


	text-align: center;

     }



#footer {
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	color: white;
	background-color: white;

	}

#banner {

	width: 100%;


	}	

